

.first {
    text-align: left;
    
}

.second {
    text-align: right;
}

.third {
    text-align: justify;
}

div.pagination a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    background-color: rgba(193, 193, 219, 0.57);
    text-align: center;
    

}

div.pagination {
    text-align: center;
}